/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/*============ COMMON STYLES ============*/
body {
  font-family: "Proxima Nova", sans-serif;
  color: #535353;
  line-height: 1.875; /* 30/16 */
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

[class*="__container"] {
  max-width: 1320px;
  padding-inline: 15px;
  margin-inline: auto;
  overflow: clip;
}
/* ============ BLOCKS ============*/
.title {
  color: #2b2929;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2; /* 120% */
}
/* ================================ */
.page__categories {
}

/* ============ HEADER ============ */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #fff;
}
.header__container {
  padding-block: 25px;
  font-size: 0;
  position: relative;
  overflow: visible;
}
.header__image {
  max-width: 100%;
  vertical-align: middle;
}
.header__image:not(:last-child) {
  margin-right: 34px;
}

.header__catalogue {
  font-size: 19px;
  display: inline-block;
  vertical-align: middle;
}
.catalogue {
}
.header__button {
  padding: 11px 20px 11px 22px;
  font-weight: 600;
  line-height: 1.26316;
  color: #fff; /* 24/19 */
  border-radius: 8px;
  background-color: #ffbc57;
}
.header__button span {
  display: inline-block;
  padding-left: 32px;
  position: relative;
}
.header__button span::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/icons/catalogue_icon.svg") 0 0 / 100% no-repeat;
  position: absolute;
  top: 2px;
  left: 0;
}
.header__button:hover {
  background-color: #ee9612;
}

.header__menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  z-index: 50;
}
.header__menu:target {
  display: block;
}
.menu {
  display: none;
  width: 300px;
  border-radius: 8px 0 0 8px;
  background-color: #fff;
}
.menu__list {
  position: relative;
  padding-block: 8px;
}
.menu__item {
}
.item-menu {
}
.item-menu__link {
  width: 100%;
  padding: 10px 15px 10px 30px;
  font-size: 0;
  position: relative;
}
.item-menu__link::after {
  content: "";
  width: 6px;
  height: 10px;
  background: url("../img/icons/catalogue/arrow.svg") 0 0 / 100% no-repeat;
  position: absolute;
  top: calc(50% - 5px);
  right: 15px;
}
.menu__item:hover .item-menu__link {
  background-color: #ffbc57;
}
.menu__item:hover .item-menu__link::after {
  background: url("../img/icons/catalogue/arrow_hover.svg") 0 0 / 100% no-repeat;
}
.item-menu__image {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  text-align: center;
}
.item-menu__image:not(:last-child) {
  margin-right: 15px;
}
.item-menu__image img {
  max-width: 100%;
}
.item-menu__label {
  display: inline-block;
  vertical-align: middle;
  color: #2b2929;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4; /* 28/20 */
}

.item-menu__sub {
  position: absolute;
  top: 0;
  left: 100%;
}

.sub-menu {
  display: none;
  width: 108%;
  height: 100%;
  padding-block: 8px;
  border-radius: 0 8px 8px 0;
  background-color: #fff;
  overflow: auto;
}
.sub-menu::after {
  content: "";
  width: 5px;
  height: 97.4%;
  background-color: #ffbc57;
  position: absolute;
  top: 8px;
  left: 0;
}
.menu__item:hover .sub-menu {
  display: block;
}
.sub-menu__list {
  padding-bottom: 12px;
}

.sub-menu__item {
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}
.sub-menu__link {
  width: 100%;
  padding-inline: 35px 20px;
  color: #2b2929;
  font-size: 19px;
  font-weight: 400;
  line-height: 2.105; /* 40/19 */
}
.sub-menu__item .sub-menu__link:hover {
  background-color: #ffbc57;
}

/* ============ CATEGORY ============ */
.categories {
  background-color: #f8f8f8;
  padding-block: 70px;
}
.categories__container {
}
.categories__title {
}
.categories__title:not(:last-child) {
  margin-bottom: 40px;
}

.categories__items {
  font-size: 0;
  margin: -12px -5px;
}

.categories__item {
  font-size: 20px;
  padding: 12px 5px;
  display: inline-block;
  max-width: 20%;
  min-width: 200px;
}

.categories__body {
  border-radius: 8px;
  background: #fff;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  position: relative;
  z-index: 1;
  overflow: clip;
}
.categories__body:hover {
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.548);
  opacity: 0.9;
}
.categories__body::before {
  content: "";
  width: 280px;
  height: 280px;
  background-color: #f8f8f8;
  border-radius: 50%;
  position: absolute;
  bottom: -88px;
  right: -15px;
  z-index: -1;
}
.categories__body::after {
  content: "";
  width: 50px;
  height: 50px;
  background: url("../img/categories/vector.svg") center / 11px no-repeat;
  border: 2px solid #ffbc57;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}
.categories__body:hover::after {
  border-radius: 40%;
}

.categories__image {
  max-width: 100%;
  z-index: 2;
}

.categories__info {
  position: absolute;
  top: 20px;
  /* left: 20px; */
  width: 100%;
  padding-inline: 20px;
}
.info-categories {
  font-size: 0;
}

.info-categories__label,
.info-categories__amount {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}
.info-categories__label {
  width: 75%;
}
.info-categories__amount {
  color: #b1b1b1;
  width: 25%;
  text-align: right;
}

/* ============ POPUP ============ */
.page__popup {
  padding-block: 50px;
}
.popup {
}
.popup__container {
}

.popup__button {
}

.popup__menu {
}
.menu-popup {
}
.menu-popup__list {
}
.menu-popup__item {
}
.menu-popup__link {
}

/* ============ FOOTER ============ */
.footer {
  padding-block: 25px;
  background-color: #919191;
}
.footer__container {
}
.footer__link {
  background-color: #ffbc57;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 50;
}
.footer__link img {
  max-width: 100%;
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}
.footer__link::before {
}
