@charset "UTF-8";
/* Підключення шрифтів Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,700&display=swap");
/* Скидання стилів */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Mixins*/
/* =========== COMMON STYLES ===========*/
html.loaded {
  opacity: 1;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

body {
  font-family: "Exo", sans-serif;
  font-size: 20px;
  line-height: 1.75; /* 175% */
  letter-spacing: -0.4px;
  text-transform: capitalize;
  color: #fff;
  background-color: #000001;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1320px;
  padding-inline: 15px;
  margin-inline: auto;
}

/*=========== layouts ============*/
.edits__title, .about__title {
  color: #fff;
  font-family: "Exo", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
@media (min-width: 82.5em) {
  .edits__title, .about__title {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (font-size: clamp( 1.5rem , 0.78rem  +  3.6vw , 3.75rem )) {
    .edits__title, .about__title {
      font-size: clamp( 1.5rem , 0.78rem  +  3.6vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 0.78rem  +  3.6vw , 3.75rem )) {
    .edits__title, .about__title {
      font-size: calc(1.5rem + 2.25 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .edits__title, .about__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 82.5em) {
  .edits__title, .about__title {
    line-height: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (line-height: clamp( 1.875rem , 1.075rem  +  4vw , 4.375rem )) {
    .edits__title, .about__title {
      line-height: clamp( 1.875rem , 1.075rem  +  4vw , 4.375rem );
    }
  }
  @supports not (line-height: clamp( 1.875rem , 1.075rem  +  4vw , 4.375rem )) {
    .edits__title, .about__title {
      line-height: calc(1.875rem + 2.5 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .edits__title, .about__title {
    line-height: 1.875rem;
  }
}
@media (min-width: 82.5em) {
  .edits__title, .about__title {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (padding-bottom: clamp( 0.25rem , -0.07rem  +  1.6vw , 1.25rem )) {
    .edits__title, .about__title {
      padding-bottom: clamp( 0.25rem , -0.07rem  +  1.6vw , 1.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.25rem , -0.07rem  +  1.6vw , 1.25rem )) {
    .edits__title, .about__title {
      padding-bottom: calc(0.25rem + 1 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .edits__title, .about__title {
    padding-bottom: 0.25rem;
  }
}
.edits__title::after, .about__title::after {
  content: "";
  width: 133%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#f00), color-stop(48.9%, #42ff00), to(#2400ff));
  background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #3535e4;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -webkit-transition: padding-block 0.5s;
  transition: padding-block 0.5s;
}
@media (min-width: 81.5625em) {
  .header__container {
    padding-block: 3.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.5625em) {
  @supports (padding-block: clamp( 1.875rem , 1.3673857868rem  +  2.538071066vw , 3.4375rem )) {
    .header__container {
      padding-block: clamp( 1.875rem , 1.3673857868rem  +  2.538071066vw , 3.4375rem );
    }
  }
  @supports not (padding-block: clamp( 1.875rem , 1.3673857868rem  +  2.538071066vw , 3.4375rem )) {
    .header__container {
      padding-block: calc(1.875rem + 1.5625 * (100vw - 20rem) / 61.5625);
    }
  }
}
@media (max-width: 20em) {
  .header__container {
    padding-block: 1.875rem;
  }
}
.scroll .header__container {
  padding-block: 30px;
}
.header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 1.3333; /* 40/30 */
  letter-spacing: -1.6px;
  position: relative;
  z-index: 2;
}
@media (min-width: 81.5625em) {
  .header__logo {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 81.5625em) {
  @supports (font-size: clamp( 1rem , 0.7157360406rem  +  1.421319797vw , 1.875rem )) {
    .header__logo {
      font-size: clamp( 1rem , 0.7157360406rem  +  1.421319797vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.7157360406rem  +  1.421319797vw , 1.875rem )) {
    .header__logo {
      font-size: calc(1rem + 0.875 * (100vw - 20rem) / 61.5625);
    }
  }
}
@media (max-width: 20em) {
  .header__logo {
    font-size: 1rem;
  }
}
@media (max-width: 991.98px) {
  .menu-header__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 100px 30px 30px;
    background-color: #000001;
    z-index: 1;
    overflow: auto;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
  }
  .menu-open .menu-header__body {
    right: 0;
  }
  .menu-header__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    right: 0;
    background-color: #3535e4;
  }
}
.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 5px;
}
@media (min-width: 82.5em) {
  .menu-header__list {
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }
}
@media (min-width: 62.5em) and (max-width: 82.5em) {
  @supports ((-moz-column-gap: clamp( 2.5rem , -5.3125rem  +  12.5vw , 5rem )) or (column-gap: clamp( 2.5rem , -5.3125rem  +  12.5vw , 5rem ))) {
    .menu-header__list {
      -webkit-column-gap: clamp( 2.5rem , -5.3125rem  +  12.5vw , 5rem );
         -moz-column-gap: clamp( 2.5rem , -5.3125rem  +  12.5vw , 5rem );
              column-gap: clamp( 2.5rem , -5.3125rem  +  12.5vw , 5rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 2.5rem , -5.3125rem  +  12.5vw , 5rem )) or (column-gap: clamp( 2.5rem , -5.3125rem  +  12.5vw , 5rem ))) {
    .menu-header__list {
      -webkit-column-gap: calc(2.5rem + 2.5 * (100vw - 62.5rem) / 20);
         -moz-column-gap: calc(2.5rem + 2.5 * (100vw - 62.5rem) / 20);
              column-gap: calc(2.5rem + 2.5 * (100vw - 62.5rem) / 20);
    }
  }
}
@media (max-width: 62.5em) {
  .menu-header__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}
@media (max-width: 991.98px) {
  .menu-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.menu-header__link {
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  text-transform: uppercase;
}
.menu-header__link:hover {
  text-decoration: underline;
}
@media (max-width: 991.98px) {
  .menu-header__link {
    font-size: 24px;
  }
}

.actions-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
  row-gap: 10px;
  position: relative;
  z-index: 2;
}
.actions-header__link {
  width: 15px;
  height: 15px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.actions-header__link img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.actions-header__link--big {
  width: 20px;
  height: 14px;
}
.actions-header__link:hover {
  opacity: 0.6;
}
@media (max-width: 500px) {
  .actions-header {
    display: none;
  }
}

.burger-menu {
  display: none;
  width: 30px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .burger-menu {
    display: block;
  }
  .burger-menu::before, .burger-menu::after,
  .burger-menu span {
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .burger-menu::before {
    top: 0;
  }
  .menu-open .burger-menu::before {
    top: 50%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger-menu::after {
    bottom: 0;
  }
  .menu-open .burger-menu::after {
    top: 50%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger-menu span {
    top: calc(50% - 1.5px);
  }
  .menu-open .burger-menu span {
    display: none;
  }
}

@media (min-width: 82.5em) {
  .page__about {
    margin-bottom: 12.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 82.5em) {
  @supports (margin-bottom: clamp( 4.6875rem , 1.3754045307rem  +  13.4843581446vw , 12.5rem )) {
    .page__about {
      margin-bottom: clamp( 4.6875rem , 1.3754045307rem  +  13.4843581446vw , 12.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 4.6875rem , 1.3754045307rem  +  13.4843581446vw , 12.5rem )) {
    .page__about {
      margin-bottom: calc(4.6875rem + 7.8125 * (100vw - 24.5625rem) / 57.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .page__about {
    margin-bottom: 4.6875rem;
  }
}

@media (min-width: 82.5em) {
  .about {
    padding-block: 7.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 82.5em) {
  @supports (padding-block: clamp( 1.25rem , -1.3996763754rem  +  10.7874865156vw , 7.5rem )) {
    .about {
      padding-block: clamp( 1.25rem , -1.3996763754rem  +  10.7874865156vw , 7.5rem );
    }
  }
  @supports not (padding-block: clamp( 1.25rem , -1.3996763754rem  +  10.7874865156vw , 7.5rem )) {
    .about {
      padding-block: calc(1.25rem + 6.25 * (100vw - 24.5625rem) / 57.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .about {
    padding-block: 1.25rem;
  }
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 82.5em) {
  .about__container {
    gap: 3.75rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 82.5em) {
  @supports (gap: clamp( 1.25rem , 0.1901294498rem  +  4.3149946063vw , 3.75rem )) {
    .about__container {
      gap: clamp( 1.25rem , 0.1901294498rem  +  4.3149946063vw , 3.75rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , 0.1901294498rem  +  4.3149946063vw , 3.75rem )) {
    .about__container {
      gap: calc(1.25rem + 2.5 * (100vw - 24.5625rem) / 57.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .about__container {
    gap: 1.25rem;
  }
}
.about__header {
  max-width: 992px;
  text-align: center;
}
.about__title:not(:last-child) {
  margin-bottom: 20px;
}
.about__title::after {
  left: -16.5%;
}
.about__text {
  color: #fff;
  font-size: 18px;
  line-height: 2.22; /* 222.222% */
  letter-spacing: -0.36px;
}
.about__text p:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .about__text {
    font-size: 14px;
    line-height: 2.143; /* 30/14 */
    letter-spacing: -0.28px;
  }
}
.about__skills {
  max-width: 1150px;
  overflow: clip;
}

.skills__list, .skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 82.5em) {
  .skills__list, .skills__item {
    gap: 3.75rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 82.5em) {
  @supports (gap: clamp( 1.25rem , 0.1901294498rem  +  4.3149946063vw , 3.75rem )) {
    .skills__list, .skills__item {
      gap: clamp( 1.25rem , 0.1901294498rem  +  4.3149946063vw , 3.75rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , 0.1901294498rem  +  4.3149946063vw , 3.75rem )) {
    .skills__list, .skills__item {
      gap: calc(1.25rem + 2.5 * (100vw - 24.5625rem) / 57.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .skills__list, .skills__item {
    gap: 1.25rem;
  }
}
.skills__item {
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  line-height: 1.25; /* 107.143% */
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 767.98px) {
  .skills__item {
    font-size: 16px;
  }
}
@media (max-width: 479.98px) {
  .skills__item {
    font-size: 14px;
    line-height: 1.0714; /* 15/14 */
  }
}
.skills__item::after {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#f00), color-stop(48.9%, #42ff00), to(#2400ff));
  background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
}
@media (max-width: 479.98px) {
  .skills__item::after {
    width: 4px;
    height: 4px;
  }
}

@media (min-width: 82.5em) {
  .page__edits {
    margin-bottom: 12.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 82.5em) {
  @supports (margin-bottom: clamp( 5rem , 1.8203883495rem  +  12.9449838188vw , 12.5rem )) {
    .page__edits {
      margin-bottom: clamp( 5rem , 1.8203883495rem  +  12.9449838188vw , 12.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 5rem , 1.8203883495rem  +  12.9449838188vw , 12.5rem )) {
    .page__edits {
      margin-bottom: calc(5rem + 7.5 * (100vw - 24.5625rem) / 57.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .page__edits {
    margin-bottom: 5rem;
  }
}

@media (min-width: 82.5em) {
  .edits__title {
    margin-bottom: 7.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 82.5em) {
  @supports (margin-bottom: clamp( 1.25rem , -1.3996763754rem  +  10.7874865156vw , 7.5rem )) {
    .edits__title {
      margin-bottom: clamp( 1.25rem , -1.3996763754rem  +  10.7874865156vw , 7.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , -1.3996763754rem  +  10.7874865156vw , 7.5rem )) {
    .edits__title {
      margin-bottom: calc(1.25rem + 6.25 * (100vw - 24.5625rem) / 57.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .edits__title {
    margin-bottom: 1.25rem;
  }
}
.edits__slider {
  overflow-x: auto;
  overflow-y: hidden;
}

.slider-edits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 82.5em) {
  .slider-edits__items {
    gap: 2.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 82.5em) {
  @supports (gap: clamp( 1.25rem , 0.7200647249rem  +  2.1574973031vw , 2.5rem )) {
    .slider-edits__items {
      gap: clamp( 1.25rem , 0.7200647249rem  +  2.1574973031vw , 2.5rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , 0.7200647249rem  +  2.1574973031vw , 2.5rem )) {
    .slider-edits__items {
      gap: calc(1.25rem + 1.25 * (100vw - 24.5625rem) / 57.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .slider-edits__items {
    gap: 1.25rem;
  }
}
.item-edits {
  text-align: center;
}
.item-edits__media {
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (min-width: 82.5em) {
  .item-edits__media {
    width: 22.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 82.5em) {
  @supports (width: clamp( 12.0625rem , 7.6375404531rem  +  18.0151024811vw , 22.5rem )) {
    .item-edits__media {
      width: clamp( 12.0625rem , 7.6375404531rem  +  18.0151024811vw , 22.5rem );
    }
  }
  @supports not (width: clamp( 12.0625rem , 7.6375404531rem  +  18.0151024811vw , 22.5rem )) {
    .item-edits__media {
      width: calc(12.0625rem + 10.4375 * (100vw - 24.5625rem) / 57.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .item-edits__media {
    width: 12.0625rem;
  }
}
.item-edits__media:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 991.98px) {
  .item-edits__media:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 579px) {
  .item-edits__media:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (any-hover: hover) {
  .item-edits__media:hover .controls__label {
    opacity: 1;
    visibility: visible;
  }
}
.item-edits__media:hover {
  border: 10px solid #9700ff;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.item-edits__video {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-edits__button {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-width: 82.5em) {
  .item-edits__button {
    width: 6.25rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 82.5em) {
  @supports (width: clamp( 3.4375rem , 2.2451456311rem  +  4.854368932vw , 6.25rem )) {
    .item-edits__button {
      width: clamp( 3.4375rem , 2.2451456311rem  +  4.854368932vw , 6.25rem );
    }
  }
  @supports not (width: clamp( 3.4375rem , 2.2451456311rem  +  4.854368932vw , 6.25rem )) {
    .item-edits__button {
      width: calc(3.4375rem + 2.8125 * (100vw - 24.5625rem) / 57.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .item-edits__button {
    width: 3.4375rem;
  }
}
@media (min-width: 82.5em) {
  .item-edits__button {
    height: 6.25rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 82.5em) {
  @supports (height: clamp( 3.4375rem , 2.2451456311rem  +  4.854368932vw , 6.25rem )) {
    .item-edits__button {
      height: clamp( 3.4375rem , 2.2451456311rem  +  4.854368932vw , 6.25rem );
    }
  }
  @supports not (height: clamp( 3.4375rem , 2.2451456311rem  +  4.854368932vw , 6.25rem )) {
    .item-edits__button {
      height: calc(3.4375rem + 2.8125 * (100vw - 24.5625rem) / 57.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .item-edits__button {
    height: 3.4375rem;
  }
}
.item-edits__button:not(:last-child) {
  margin-bottom: 20px;
}
.item-edits__button img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-edits__label {
  font-size: 40px;
  font-weight: 700;
  line-height: 1; /* 100% */
  text-transform: uppercase;
  position: absolute;
  bottom: 33.333%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.item-edits__title {
  font-weight: 700;
  line-height: 1; /* 100% */
  text-transform: uppercase;
}
@media (min-width: 82.5em) {
  .item-edits__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 82.5em) {
  @supports (font-size: clamp( 0.875rem , 0.1860841424rem  +  2.8047464941vw , 2.5rem )) {
    .item-edits__title {
      font-size: clamp( 0.875rem , 0.1860841424rem  +  2.8047464941vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.1860841424rem  +  2.8047464941vw , 2.5rem )) {
    .item-edits__title {
      font-size: calc(0.875rem + 1.625 * (100vw - 24.5625rem) / 57.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .item-edits__title {
    font-size: 0.875rem;
  }
}

.page__homework {
  margin-top: 180px;
}

.homework__container {
  overflow: hidden;
}
.homework__block > *:not(:last-child) {
  margin-bottom: 40px;
}
.homework__text {
  font-size: 20px;
  line-height: 1.5;
}
.homework__item {
  padding-block: 40px;
  background-color: #29750d;
}
.homework__content {
  display: inline-block;
  padding: 20px;
  background-color: blue;
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.show .homework__content {
  -webkit-transform: translateX(20%);
      -ms-transform: translateX(20%);
          transform: translateX(20%);
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.item,
.new-item {
  font-size: 30px;
  line-height: 1.4;
  font-weight: 600;
  padding: 5px 15px;
  background-color: #29750d;
  border-radius: 5px;
}

.footer {
  background-color: green;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.footer._change-color {
  background-color: red;
}
.footer__container {
  padding-block: 20px;
}
.footer__copy {
  font-size: 20px;
  text-align: center;
}