// BLOCK HEADER
.block-header {
  display: flex;
  gap: toRem(20);
  justify-content: space-between;
  align-items: flex-start;
  // .block-header__content
  &__content {
    display: flex;
    align-self: center;
    align-items: flex-start;
    column-gap: toRem(30);
    row-gap: toRem(5);
    flex-wrap: wrap;
    @media (max-width: toEm(767.98)) {
      text-align: center;
      justify-content: center;
    }
  }
  // .block-header__title
  &__title {
  }
  // .block-header__more
  &__more {
    flex-shrink: 0;
    color: $yellowColor;
    display: inline-flex;
    align-items: center;
    gap: toRem(16);
    transition: color 0.3s;
    flex-direction: row-reverse;
    font-size: toRem(19);
    font-weight: 600;
    line-height: 2.526; /* 48/19 */
    &::before {
      transition: transform 0.3s;
      font-size: toRem(12);
      font-weight: 400;
    } /* 24/19 */
    @media (any-hover: hover) {
      &:hover {
        color: #f39d1b;
        &::before {
          transform: scale(1.1) translate(toRem(4), toRem(-2));
        }
      }
    }
  }
  // .block-header__arrows
  &__arrows {
    flex-shrink: 0;
    display: flex;
    gap: toRem(20);
    align-items: center;
  }
  // .block-header__arrow
  &__arrow {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    width: toRem(60);
    height: toRem(60);
    background-color: #fff;
    transition: all 0.3s;
    color: $yellowColor;
    &:last-child {
      transform: rotate(-180deg);
    }
    &::before {
      font-size: toRem(20);
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: $yellowColor;
        color: #fff;
      }
    }
  }
}
// title
.title {
  @include adaptiveValue("font-size", 40, 32);
  font-weight: 600;
  line-height: 1.2;
}
