.page {
  // .page__about
  &__about {
    @include adaptiveValue("margin-bottom", 200, 75, 0, 1320, 393);
  }
}
.about {
  @include adaptiveValue("padding-block", 120, 20, 0, 1320, 393);
  // .about__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptiveValue("gap", 60, 20, 0, 1320, 393);
  }
  // .about__header
  &__header {
    max-width: 992px;
    text-align: center;
  }
  // .about__title
  &__title {
    @extend %title;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &::after {
      left: -16.5%;
    }
  }
  // .about__text
  &__text {
    color: #fff;
    font-size: 18px;
    line-height: 2.22; /* 222.222% */
    letter-spacing: -0.36px;
    p:not(:last-child) {
      margin-bottom: 10px;
    }
    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 2.143; /* 30/14 */
      letter-spacing: -0.28px;
    }
  }
  // .about__skills
  &__skills {
    max-width: 1150px;
    overflow: clip;
  }
}
.skills {
  &__list,
  &__item {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 60, 20, 0, 1320, 393);
  }
  // .skills__list
  &__list {
    // animation: move 15s linear infinite;
  }
  // .skills__item
  &__item {
    color: #fff;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    line-height: 1.25; /* 107.143% */
    flex-shrink: 0;
    @media (max-width: 767.98px) {
      font-size: 16px;
    }
    @media (max-width: 479.98px) {
      font-size: 14px;
      line-height: 1.0714; /* 15/14 */
    }
    &::after {
      content: "";
      flex-shrink: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
      @media (max-width: 479.98px) {
        width: 4px;
        height: 4px;
      }
    }
  }
  // @keyframes move {
  //   0% {
  //     transform: translateX(0);
  //   }
  //   100% {
  //     transform: translateX(-120%);
  //   }
  // }
}
